<center><h1>WEB SCRAPING</h1></center>

### **Importing All Necessary libraries**

In [37]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from bs4 import BeautifulSoup
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import warnings
warnings.filterwarnings('ignore')

In [38]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,/;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'Accept-Language': 'en-US,en;q=0.9',
    'Accept-Encoding': 'gzip, deflate, br',
    'Referer': 'https://www.justdial.com/',
    'Connection': 'keep-alive'
}

In [39]:
list_of_cities = [2,4709,2378,3686,1692,5,5732,2423,134,132,290,2130,777,6356,2713,6105,2920,8184,1605,769,666,33,1606,1674,136]
make_year = []
owner = []
brand = []
model = []
price = []
loc = []
distance = []
emi = []
original_price = []
fuel = []
for i in list_of_cities:
    url = f'https://www.cars24.com/buy-used-car?sort=bestmatch&serveWarrantyCount=true&gaId=1454210387.1727770785&storeCityId={i}'
    #print(url)
    response = requests.get(url,headers = headers)
    soup = BeautifulSoup(response.text)
    #for creating list make_year
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        if re.findall(r'\d{4}',j.h3.text):
            make_year.append(''.join(re.findall(r'\d{4}',j.h3.text)))
        else:
            make_year.append(np.nan)
    #for creating list brand 
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        if re.findall(r'\d{4}\s(\w{1,})\s',j.h3.text):
            brand.append(''.join(re.findall(r'\d{4}\s(\w{1,})\s',j.h3.text)))
        else:
            brand.append(np.nan)
    #for creating list model
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        if j.h3.text.replace(j.h3.span.text,'').replace("".join(re.findall(r'\d{4}',j.h3.text))+' ','').replace(''.join(re.findall(r'\d{4}\s(\w{1,})\s',j.h3.text))+' ',''):
            model.append(''.join(j.h3.text.replace(j.h3.span.text,'').replace("".join(re.findall(r'\d{4}',j.h3.text))+' ','').replace(''.join(re.findall(r'\d{4}\s(\w{1,})\s',j.h3.text))+' ','')))
        else:
            model.append(np.nan)
    #for creating list price
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        #print(j.strong.text)
        if j.strong.text:
            price.append(j.strong.text)
        else:
            price.append(np.nan)
    #for creating list address
    for j in soup.find_all("p",class_="_2rxhF"):
        #print(j.span.text)
        if re.findall(r',\s(.*)\s',j.span.text):
            loc.append(''.join(re.findall(r',\s(.*)\s',j.span.text)))
        else:
            loc.append(np.nan)
    #for creating list distance
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        #print(j.ul.text)
        if re.findall(r'(\d{1,2},?(\d{1,3}))\skm',j.ul.text):
            distance.append(''.join(re.findall(r'(\d{1,2},?(\d{1,3}))\skm',j.ul.text)[0][0]))
        else:
            distance.append(np.nan)
    #for creating list emi
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        #print(j.div.span.text)
        if re.findall(r'₹(\w{1,2},\w{1,3})',j.div.span.text):
            emi.append(''.join(re.findall(r'₹(\w{1,2},\w{1,3})',j.div.span.text)))
        else:
            emi.append(np.nan)
    #for creating list original price
    for j in soup.find_all("span",class_="_3hb01"):
        if j.text:
            original_price.append(''.join(j.text))
        else:
            original_price.append(np.nan)

    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        #print(j.ul.text)
        if re.findall(r'(\w)(st|nd)\sowner',j.ul.text):
            owner.append(''.join(re.findall(r'(\w)(st|nd)\sowner',j.ul.text)[0][0]))
        else:
            owner.append(np.nan)
    for j in soup.find_all("div",class_="_7jb8Q _1Ey60"):
        #print(j.ul.text)
        if re.findall(r'(Petrol|Diesel|CNG)',j.ul.text):
            fuel.append(''.join(re.findall(r'(Petrol|Diesel|CNG)',j.ul.text)[0][0]))
        else:
            fuel.append(np.nan)

In [56]:
len(make_year)
len(brand)
len(model)
len(price)
len(loc)
len(distance)
len(emi)
len(original_price)
len(fuel)
len(owner)

500

500

500

500

500

500

500

440

500

500

### Converting the All `Columns` into `Dataframe`

In [51]:
data = pd.DataFrame({
    "Brand":brand,
    "Model":model,
    "Make_Year":make_year,
    "Price":price,
    "Location":loc,
    "Distance travelled in km":distance,
    "EMI per month":emi,
    "Fuel type":fuel,
    "owner":owner
})

In [52]:
data

,Brand,Model,Make_Year,Price,Location,Distance travelled in km,EMI per month,Fuel type,owner
0,Mahindra,Thar,2020,₹11.93L,Delhi,"11,003","22,708",D,1
1,Tata,NEXON,2023,₹8.81L,Ghaziabad,"10,555","16,768",P,1
2,Tata,Harrier,2022,₹14.41L,"Golf Course Ext., Gurugram","27,990","27,428",D,1
3,Ford,Ecosport,2021,₹8.87L,Noida,"23,480","16,883",D,1
4,Tata,PUNCH,2022,₹7.91L,"Raj Nagar Extension, Ghaziabad",450,"15,464",P,1
...,...,...,...,...,...,...,...,...,...
495,Renault,Duster,2018,₹6.27L,Agra,"60,158","12,258",D,1
496,Hyundai,Creta,2020,₹10.43L,Agra,"64,178","19,853",P,1
497,Hyundai,VENUE,2022,₹7.82L,Agra,"11,654","15,288",P,1
498,Hyundai,VENUE,2019,₹8.80L,Agra,"59,436","16,750",P,1
499,Mahindra,XUV300,2019,₹8.12L,Agra,"70,913","15,456",D,1

### Converting the `Dataframe` into `CSV` File

In [53]:
data.to_csv(r'C:\Users\sasi kumarS\EDA Project\newdata.csv')

In [54]:
data.isna().sum()

Brand                        0
Model                        0
Make_Year                    0
Price                        0
Location                     7
Distance travelled in km     0
EMI per month                0
Fuel type                    0
owner                       15
dtype: int64

In [55]:
data.duplicated().sum()

71

In [59]:
data.owner.isna()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: owner, Length: 500, dtype: bool